<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7-Zip.CommandLine" version="18.1.0" targetFramework="net462" />
  <package id="AdonisUI" version="1.17.1" targetFramework="net462" />
  <package id="AdonisUI.ClassicTheme" version="1.17.1" targetFramework="net462" />
  <package id="DiscUtils.Core" version="0.16.13" targetFramework="net462" />
  <package id="DiscUtils.Iso9660" version="0.16.13" targetFramework="net462" />
  <package id="DiscUtils.Streams" version="0.16.13" targetFramework="net462" />
  <package id="DiscUtils.Udf" version="0.16.13" targetFramework="net462" />
  <package id="Material.Icons" version="2.1.10" targetFramework="net462" />
  <package id="Material.Icons.WPF" version="2.1.10" targetFramework="net462" />
</packages>